src/META-INF/wsdl/academico.ulasalle.edu.pe_8080/services/services/usuario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.academico.ulasalle.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.academico.ulasalle.com" xmlns:intf="http://services.academico.ulasalle.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.academico.ulasalle.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sesionValida">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sesionValidaResponse">
    <complexType>
     <sequence>
      <element name="sesionValidaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInformacion">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInformacionResponse">
    <complexType>
     <sequence>
      <element name="getInformacionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPeriodos">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPeriodosResponse">
    <complexType>
     <sequence>
      <element name="getPeriodosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setContrasena">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:string"/>
      <element name="contrasena" type="xsd:string"/>
      <element name="nuevaContrasena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setContrasenaResponse">
    <complexType>
     <sequence>
      <element name="setContrasenaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getInformacionRequest">

      <wsdl:part element="impl:getInformacion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setContrasenaResponse">

      <wsdl:part element="impl:setContrasenaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sesionValidaRequest">

      <wsdl:part element="impl:sesionValida" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPeriodosRequest">

      <wsdl:part element="impl:getPeriodos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInformacionResponse">

      <wsdl:part element="impl:getInformacionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sesionValidaResponse">

      <wsdl:part element="impl:sesionValidaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPeriodosResponse">

      <wsdl:part element="impl:getPeriodosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setContrasenaRequest">

      <wsdl:part element="impl:setContrasena" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="usuario">

      <wsdl:operation name="sesionValida">

         <wsdl:input message="impl:sesionValidaRequest" name="sesionValidaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sesionValidaResponse" name="sesionValidaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInformacion">

         <wsdl:input message="impl:getInformacionRequest" name="getInformacionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInformacionResponse" name="getInformacionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPeriodos">

         <wsdl:input message="impl:getPeriodosRequest" name="getPeriodosRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPeriodosResponse" name="getPeriodosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setContrasena">

         <wsdl:input message="impl:setContrasenaRequest" name="setContrasenaRequest">

       </wsdl:input>

         <wsdl:output message="impl:setContrasenaResponse" name="setContrasenaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="usuarioSoapBinding" type="impl:usuario">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sesionValida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sesionValidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sesionValidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInformacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInformacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInformacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPeriodos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPeriodosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPeriodosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setContrasena">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setContrasenaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setContrasenaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="usuarioService">

      <wsdl:port binding="impl:usuarioSoapBinding" name="usuario">

         <wsdlsoap:address location="http://academico.ulasalle.edu.pe:8080/services/services/usuario"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
